Repository aperiosoftware/astropy, pull requests merged in 2022-11, with the labels that each got.

#15 Implement all compression types
  .github/workflows/ci_workflows.yml
  astropy/io/fits/tests/test_tiled_compression.py
  astropy/io/fits/tiled_compression/__init__.py
  astropy/io/fits/tiled_compression/setup_package.py
  astropy/io/fits/tiled_compression/src/compression.c
  astropy/io/fits/tiled_compression/src/fits_hcompress.h
  astropy/io/fits/tiled_compression/src/fits_hdecompress.h
  astropy/io/fits/tiled_compression/src/fitsio2.h
  astropy/io/fits/tiled_compression/src/pliocomp.h
  astropy/io/fits/tiled_compression/src/ricecomp.h
  astropy/io/fits/tiled_compression/tests/__init__.py
  astropy/io/fits/tiled_compression/tests/test_tiled_compression.py
  astropy/io/fits/tiled_compression/tiled_compression.py
Labels: io.fits, external

#19 Properly accept/return new-style buffers from codecs, and expand test suite
  astropy/io/fits/tiled_compression/tests/test_tiled_compression.py
  astropy/io/fits/tiled_compression/tiled_compression.py
Labels: io.fits

#20 Started writing a decompress_hdu drop-in replacement
  astropy/io/fits/tiled_compression/tests/test_tiled_compression.py
  astropy/io/fits/tiled_compression/tiled_compression.py
Labels: io.fits

#26 Compress decompress refactor
  .gitattributes
  astropy/io/fits/tiled_compression/tests/data/m13.fits
  astropy/io/fits/tiled_compression/tests/data/m13_gzip.fits
  astropy/io/fits/tiled_compression/tests/data/m13_hcomp.fits
  astropy/io/fits/tiled_compression/tests/data/m13_plio.fits
  astropy/io/fits/tiled_compression/tests/data/m13_rice.fits
  astropy/io/fits/tiled_compression/tests/test_tiled_compression.py
  astropy/io/fits/tiled_compression/tiled_compression.py
Labels: io.fits

#29 Fitsio compression tests
  .github/workflows/ci_workflows.yml
  astropy/io/fits/tiled_compression/tests/conftest.py
  astropy/io/fits/tiled_compression/tests/test_fitsio.py
  astropy/io/fits/tiled_compression/tests/test_tiled_compression.py
  tox.ini
Labels: io.fits, testing

#30 More fitsio tests
  .github/workflows/ci_workflows.yml
  astropy/io/fits/tiled_compression/tests/conftest.py
  astropy/io/fits/tiled_compression/tests/test_fitsio.py
  astropy/io/fits/tiled_compression/tests/test_tiled_compression.py
  astropy/io/fits/tiled_compression/tiled_compression.py
  tox.ini
Labels: io.fits, testing
